* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
    text-align: center;
    font: sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
